.Align {
  padding: 2em;
}

.Calculator {
  margin: auto;
  background-color: #1c1c1c;
  border-radius: 1em;
  width: 350px;
  height: 570px;
  padding: 0.1em 1em;
}

button, input {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
}

button:hover {
  cursor: pointer;
}

.ButtonGrayDark {
  color: #D4D4D2;
  background-color: #505050;
}

.ButtonGray {
  color: #1c1c1c;
  background-color: #D4D4D2;
}

.ButtonOrange {
  color: #D4D4D2;
  background-color: #FF9500;
}

#Zero {
 padding: 0em 3.3em;
}

.Result {
  max-width: 11ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: end;
  font-size: 3.3em;
  color: #D4D4D2;
}

@media only screen and (max-width: 450px) {
  .Align {
    padding: 0.1em;
  }

  .Calculator {
    background-color: #1c1c1c;
    border-radius: 1em;
    width: 350px;
    height: 570px;
  }
}
